 @media screen and (max-width:768px) {
        
          .ab{
            margin: 90px 6px;
            padding: 0;
            width: 400px;
          }
          .mm i {
            position: absolute;
            top: 44%;
            left: 80%;
          }
          .ll i{
             position: absolute;
            top: 35%;
            left: 80%;
          }
          .tt{
            top: 63.6%;
            left: 15.7%;
          }
       }