       body{
            background-image: url(bimages.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .ab{
            margin-left: 35%;
            margin-top: 10%;
            background-color: rgba(95, 87, 87, 0.501);
            height: 450px;
            width: 450px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 0 25px rgba(107, 91, 91, 0.642),0 0 10px white;
            
        }

        /* email input */
        
        .cd{
            display: block;
            margin: 15px auto;
            padding: 5px;
            padding-right: 30px;
            width: 70%;
            border: none;
            background: transparent;
            border-bottom: 1px solid white;
            outline: none;
            /* box-shadow: 0 0 10px cyan; */
            
                        
        }

        .cd:focus{
            border-bottom: 3px solid cyan;
        }
        .cd::placeholder{
            color: #ffffff;
        }

        /* password input */
        .cc{
            display: inline none;
            margin: 15px auto;
            padding: 5px;
            padding-right: 30px;
            width: 70%;
             border: none;
            background: transparent;
            border-bottom: 1px solid white;
             outline: none;
            
        }
        .cc::placeholder{
            color: rgb(245, 245, 245);
            box-shadow: cyan;
        }
        .cc:focus{
            border-bottom: 3px solid cyan;
          
        }

    /* welcome and user name */
      .qq{
            padding-top: 6%;
            color: #FFffff;
            text-shadow: 4px 10px 8px #0a0a0a;
        }
        .rr{
            color: #FFffff;
            text-shadow: 5px 10px 8px #0a0a0a;
        }
        /* button */
        .de{
            margin-top: -8px;
            width: 30%;
            height: 33px;
            border-radius: 4px;
            text-shadow: 2px 4px 5px #FFffff;
            background: transparent;
            box-shadow: 0 0 20px rgb(47, 255, 248);
            color: #FFffff;
            background-color: rgba(255, 255, 255, 0.171);

        }
        /* forget */
        .zz{
            color: rgb(255, 0, 0);
            text-shadow: 5px 2px 10px rgba(255, 0, 0, 0.725);
           display: block;
           text-align: left;
           padding-left: 10px;
           margin-top: 10px;
           /* text-decoration: none; */

        }

        .pp{
            color: rgb(0, 255, 234);
            display: block;
           text-align: right;
           padding-top: 38px;
           padding-right: 77px;
           margin-bottom: 35px;
           text-shadow: 0 0 4px cyan;
           /* text-decoration: none; */

        }
        .tt{
            position: absolute;
            color: #ffffff;
            left: 42%;
            top: 65%;
            text-shadow: 0 0 10px #ffffff;
            font-size: 17px;
        }
        /* icon */
       .mm i{
        position: absolute;
        background: none;
        left: 59%;
        top: 47%;
        color: cyan;
        text-shadow: 2px 2px 8px #ffffff;

       }

       .ll i{
        position: absolute;
        background: none;
        left: 59%;
        top: 40%;
        color: cyan;
        text-shadow: 2px 2px 8px #ffffff
       }
       .yy i{
        font-size: 27px;
        margin-bottom: 10px;
        margin: 0 15px;
        color: cyan;
        text-shadow: 0px 2px 4px #FFffff;
       }
      